In [12]:
import pandas as pd

Import all the files

In [2]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [23]:
(visits.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00

In [24]:
(cart.head(5))

                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00

In [25]:
(purchase.head(5))

                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

In [26]:
(purchase.head(5))

                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [27]:
visits_cart = pd.merge(visits,cart, how='left')
visits_cart

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT

Step 3: How long is `visits_cart`?

In [28]:
len(visits_cart)

2000

Step 4: How many timestamps are null for `cart_time`?

In [43]:
not_place_order = visits_cart.cart_time.isnull().sum()
not_place_order

np.int64(1652)

Step 5: What percentage only visited?

In [48]:
percent_visit = float(not_place_order)/ float(len(visits_cart))*100

percent_visit

82.6

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [49]:
cart_checkout = pd.merge(cart,checkout,how='left')
cart_checkout

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT
...,...,...,...
343,952be3a5-9240-484f-845c-a6b2cbed72ee,2017-05-02 05:40:00,2017-05-02 05:50:00
344,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaT
345,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaT
346,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00
347,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00

In [53]:
no_checkout = cart_checkout.checkout_time.isnull().sum()
no_checkout

np.int64(122)

In [57]:
percent_cart_no_checkout = float(no_checkout)/float(len(cart_checkout))*100
percent_cart_no_checkout

35.05747126436782

Step 7: Merge it all together

In [69]:
all_data = visits_cart.merge(checkout,how='left').merge(purchase,how='left')
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT

Step 8: % of users who got to checkout but did not purchase

In [96]:
got_to_checkout = all_data.checkout_time.count()
purchased = all_data.purchase_time.count()

percent_purchased = float(purchased/got_to_checkout)*100
not_purch = 100 - percent_purchased

not_purch

24.550898203592823

Step 9: check each part of the funnel, let's print all 3 of them again

In [98]:
print("only visit: "+ str(percent_visit))
print("Only add to cart: "+ str(percent_cart_no_checkout))
print("No purchase: "+ str(not_purch))

only visit: 82.6
Only add to cart: 35.05747126436782
No purchase: 24.550898203592823

The weakest part of the funnel is getting a person who visited the site to add a tshirt to their cart. 

Maybe making the button to add to cart more obvious would help.
or the prices are just not appealing
or th t-shirts designes are not popular

Step 10: adding new column

In [104]:
all_data["total_time"] = all_data.purchase_time - all_data.visit_time

Step 11: examine the results

In [103]:
all_data["total_time"]

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
5                  NaT
6                  NaT
7                  NaT
8                  NaT
9                  NaT
10                 NaT
11                 NaT
12                 NaT
13                 NaT
14     0 days 00:38:00
15                 NaT
16                 NaT
17                 NaT
18                 NaT
19                 NaT
20                 NaT
21                 NaT
22                 NaT
23                 NaT
24                 NaT
25                 NaT
26                 NaT
27                 NaT
28                 NaT
29                 NaT
30                 NaT
31                 NaT
32                 NaT
33                 NaT
34                 NaT
35                 NaT
36                 NaT
37                 NaT
38                 NaT
39                 NaT
40                 NaT
41                 NaT
42                 NaT
43                 NaT
44                 NaT
45                 NaT
46                 NaT
47                 NaT
48     0 days 00:41:00
49     0 days 01:00:00
50                 NaT
51                 NaT
52                 NaT
53                 NaT
54                 NaT
55                 NaT
56                 NaT
57                 NaT
58                 NaT
59                 NaT
60                 NaT
61                 NaT
62                 NaT
63                 NaT
64                 NaT
65     0 days 01:00:00
66                 NaT
67                 NaT
68                 NaT
69                 NaT
70     0 days 00:34:00
71     0 days 00:35:00
72     0 days 00:53:00
73                 NaT
74                 NaT
75     0 days 00:36:00
76     0 days 00:25:00
77                 NaT
78     0 days 00:31:00
79     0 days 00:49:00
80     0 days 00:48:00
81     0 days 00:55:00
82                 NaT
83                 NaT
84                 NaT
85                 NaT
86                 NaT
87                 NaT
88                 NaT
89                 NaT
90                 NaT
91     0 days 00:53:00
92                 NaT
93                 NaT
94                 NaT
95                 NaT
96                 NaT
97                 NaT
98                 NaT
99                 NaT
100                NaT
101                NaT
102                NaT
103                NaT
104                NaT
105                NaT
106                NaT
107                NaT
108    0 days 00:24:00
109    0 days 00:27:00
110    0 days 00:32:00
111    0 days 00:37:00
112                NaT
113                NaT
114                NaT
115                NaT
116                NaT
117                NaT
118    0 days 01:02:00
119    0 days 01:12:00
120                NaT
121                NaT
122                NaT
123                NaT
124                NaT
125                NaT
126                NaT
127                NaT
128                NaT
129                NaT
130                NaT
131                NaT
132                NaT
133                NaT
134                NaT
135                NaT
136                NaT
137                NaT
138                NaT
139                NaT
140                NaT
141                NaT
142                NaT
143                NaT
144                NaT
145                NaT
146                NaT
147                NaT
148                NaT
149                NaT
150                NaT
151                NaT
152                NaT
153                NaT
154                NaT
155                NaT
156                NaT
157                NaT
158                NaT
159                NaT
160                NaT
161                NaT
162    0 days 00:52:00
163    0 days 00:51:00
164    0 days 00:44:00
165                NaT
166                NaT
167                NaT
168    0 days 00:47:00
169                NaT
170                NaT
171                NaT
172                NaT
173                NaT
174                NaT
175                NaT
176                NaT
177                NaT
178                NaT
179    0 days 00:51:00
180                NaT
181                NaT
182                NaT
183                NaT
184                NaT
185                NaT
186                NaT
187                NaT
188                NaT
189                NaT
190                NaT
191                NaT
192                NaT
193    0 days 00:20:00
194                NaT
195                NaT
196                NaT
197                NaT
198                NaT
199                NaT
200                NaT
201                NaT
202                NaT
203                NaT
204    0 days 00:28:00
205                NaT
206                NaT
207                NaT
208    0 days 00:26:00
209                NaT
210    0 days 00:33:00
211    0 days 00:29:00
212                NaT
213                NaT
214                NaT
215                NaT
216                NaT
217                NaT
218                NaT
219                NaT
220                NaT
221                NaT
222                NaT
223    0 days 00:58:00
224                NaT
225                NaT
226                NaT
227                NaT
228                NaT
229                NaT
230                NaT
231    0 days 00:32:00
232    0 days 00:32:00
233    0 days 00:44:00
234                NaT
235                NaT
236                NaT
237                NaT
238                NaT
239                NaT
240                NaT
241                NaT
242                NaT
243                NaT
244                NaT
245                NaT
246                NaT
247    0 days 00:55:00
248    0 days 01:04:00
249                NaT
250                NaT
251                NaT
252                NaT
253                NaT
254                NaT
255                NaT
256                NaT
257                NaT
258                NaT
259    0 days 00:40:00
260    0 days 00:24:00
261    0 days 00:25:00
262                NaT
263                NaT
264                NaT
265                NaT
266                NaT
267                NaT
268                NaT
269                NaT
270    0 days 00:37:00
271    0 days 00:24:00
272    0 days 01:03:00
273                NaT
274                NaT
275                NaT
276                NaT
277                NaT
278                NaT
279                NaT
280                NaT
281                NaT
282                NaT
283                NaT
284                NaT
285                NaT
286                NaT
287                NaT
288                NaT
289                NaT
290                NaT
291                NaT
292                NaT
293                NaT
294                NaT
295                NaT
296                NaT
297                NaT
298                NaT
299                NaT
300                NaT
301                NaT
302                NaT
303                NaT
304                NaT
305                NaT
306                NaT
307                NaT
308                NaT
309                NaT
310                NaT
311                NaT
312                NaT
313                NaT
314                NaT
315                NaT
316                NaT
317                NaT
318    0 days 00:56:00
319                NaT
320                NaT
321                NaT
322                NaT
323                NaT
324                NaT
325                NaT
326                NaT
327                NaT
328                NaT
329                NaT
330                NaT
331                NaT
332                NaT
333                NaT
334                NaT
335                NaT
336                NaT
337                NaT
338                NaT
339                NaT
340                NaT
341                NaT
342                NaT
343                NaT
344                NaT
345                NaT
346                NaT
347                NaT
348                NaT
349                NaT
350                NaT
351                NaT
352                NaT
353                NaT
354                NaT
355                NaT
356                NaT
357                NaT
358                NaT
359                NaT
360                NaT
361                NaT
362                NaT
363    0 days 01:12:00
364    0 days 00:29:00
365    0 days 00:52:00
366    0 days 01:08:00
367                NaT
368                NaT
369                NaT
370                NaT
371                NaT
372                NaT
373                NaT
374                NaT
375                NaT
376                NaT
377                NaT
378                NaT
379                NaT
380                NaT
381                NaT
382                NaT
383                NaT
384                NaT
385    0 days 00:12:00
386    0 days 00:31:00
387                NaT
388                NaT
389                NaT
390                NaT
391                NaT
392                NaT
393                NaT
394                NaT
395                NaT
396                NaT
397                NaT
398                NaT
399                NaT
400                NaT
401                NaT
402                NaT
403                NaT
404                NaT
405                NaT
406                NaT
407    0 days 00:49:00
408                NaT
409    0 days 00:50:00
410                NaT
411    0 days 00:41:00
412                NaT
413                NaT
414                NaT
415                NaT
416                NaT
417                NaT
418                NaT
419                NaT
420                NaT
421                NaT
422                NaT
423                NaT
424                NaT
425                NaT
426                NaT
427                NaT
428                NaT
429                NaT
430                NaT
431                NaT
432                NaT
433                NaT
434                NaT
435                NaT
436                NaT
437                NaT
438                NaT
439                NaT
440                NaT
441                NaT
442                NaT
443                NaT
444                NaT
445                NaT
446                NaT
447                NaT
448                NaT
449                NaT
450                NaT
451                NaT
452                NaT
453                NaT
454                NaT
455    0 days 00:29:00
456                NaT
457    0 days 00:20:00
458    0 days 00:32:00
459    0 days 00:29:00
460                NaT
461                NaT
462                NaT
463                NaT
464                NaT
465                NaT
466                NaT
467                NaT
468                NaT
469                NaT
470                NaT
471                NaT
472                NaT
473                NaT
474                NaT
475                NaT
476                NaT
477                NaT
478                NaT
479                NaT
480                NaT
481                NaT
482                NaT
483                NaT
484                NaT
485                NaT
486                NaT
487                NaT
488                NaT
489                NaT
490                NaT
491                NaT
492                NaT
493                NaT
494                NaT
495                NaT
496                NaT
497                NaT
498                NaT
499                NaT
500                NaT
501                NaT
502                NaT
503                NaT
504                NaT
505                NaT
506                NaT
507    0 days 00:43:00
508    0 days 00:35:00
509                NaT
510    0 days 01:05:00
511    0 days 01:01:00
512                NaT
513                NaT
514                NaT
515                NaT
516                NaT
517    0 days 01:10:00
518                NaT
519                NaT
520                NaT
521                NaT
522                NaT
523                NaT
524    0 days 00:16:00
525    0 days 00:22:00
526    0 days 00:38:00
527                NaT
528                NaT
529                NaT
530                NaT
531                NaT
532                NaT
533                NaT
534    0 days 00:21:00
535                NaT
536                NaT
537                NaT
538                NaT
539                NaT
540    0 days 00:53:00
541                NaT
542                NaT
543                NaT
544                NaT
545                NaT
546                NaT
547                NaT
548                NaT
549                NaT
550                NaT
551                NaT
552                NaT
553                NaT
554                NaT
555                NaT
556                NaT
557                NaT
558                NaT
559    0 days 00:53:00
560                NaT
561                NaT
562                NaT
563                NaT
564                NaT
565                NaT
566                NaT
567    0 days 00:57:00
568                NaT
569                NaT
570                NaT
571                NaT
572                NaT
573                NaT
574                NaT
575                NaT
576    0 days 00:51:00
577                NaT
578                NaT
579                NaT
580    0 days 00:14:00
581    0 days 01:06:00
582                NaT
583                NaT
584                NaT
585                NaT
586                NaT
587                NaT
588                NaT
589                NaT
590                NaT
591                NaT
592                NaT
593    0 days 00:33:00
594    0 days 00:26:00
595    0 days 00:23:00
596    0 days 00:16:00
597                NaT
598                NaT
599                NaT
600                NaT
601                NaT
602                NaT
603                NaT
604                NaT
605                NaT
606                NaT
607                NaT
608                NaT
609                NaT
610                NaT
611    0 days 00:39:00
612                NaT
613                NaT
614    0 days 00:24:00
615                NaT
616                NaT
617                NaT
618                NaT
619                NaT
620                NaT
621                NaT
622                NaT
623                NaT
624                NaT
625                NaT
626                NaT
627                NaT
628                NaT
629                NaT
630                NaT
631                NaT
632                NaT
633                NaT
634                NaT
635    0 days 00:47:00
636                NaT
637                NaT
638                NaT
639                NaT
640                NaT
641                NaT
642                NaT
643                NaT
644                NaT
645    0 days 00:35:00
646                NaT
647                NaT
648                NaT
649                NaT
650                NaT
651                NaT
652                NaT
653    0 days 01:12:00
654                NaT
655    0 days 00:43:00
656                NaT
657                NaT
658                NaT
659                NaT
660                NaT
661                NaT
662                NaT
663                NaT
664                NaT
665                NaT
666                NaT
667                NaT
668                NaT
669                NaT
670                NaT
671                NaT
672                NaT
673                NaT
674                NaT
675                NaT
676                NaT
677                NaT
678                NaT
679                NaT
680                NaT
681                NaT
682                NaT
683    0 days 00:29:00
684                NaT
685                NaT
686                NaT
687                NaT
688                NaT
689                NaT
690                NaT
691                NaT
692                NaT
693                NaT
694                NaT
695    0 days 00:54:00
696    0 days 00:34:00
697    0 days 00:57:00
698    0 days 00:22:00
699    0 days 00:28:00
700                NaT
701                NaT
702                NaT
703                NaT
704                NaT
705                NaT
706    0 days 00:55:00
707                NaT
708                NaT
709                NaT
710                NaT
711                NaT
712                NaT
713                NaT
714                NaT
715                NaT
716    0 days 00:59:00
717    0 days 00:26:00
718                NaT
719                NaT
720                NaT
721                NaT
722                NaT
723                NaT
724                NaT
725                NaT
726                NaT
727                NaT
728                NaT
729                NaT
730                NaT
731                NaT
732                NaT
733                NaT
734                NaT
735                NaT
736    0 days 00:55:00
737                NaT
738                NaT
739                NaT
740                NaT
741                NaT
742                NaT
743                NaT
744                NaT
745                NaT
746                NaT
747                NaT
748                NaT
749                NaT
750                NaT
751                NaT
752                NaT
753                NaT
754                NaT
755                NaT
756                NaT
757                NaT
758                NaT
759                NaT
760                NaT
761                NaT
762                NaT
763                NaT
764                NaT
765                NaT
766                NaT
767    0 days 00:56:00
768    0 days 00:52:00
769                NaT
770                NaT
771    0 days 00:37:00
772    0 days 00:46:00
773                NaT
774                NaT
775                NaT
776                NaT
777                NaT
778                NaT
779                NaT
780                NaT
781                NaT
782                NaT
783    0 days 00:31:00
784                NaT
785                NaT
786    0 days 00:33:00
787                NaT
788                NaT
789    0 days 00:51:00
790                NaT
791                NaT
792                NaT
793                NaT
794                NaT
795    0 days 00:35:00
796    0 days 00:33:00
797                NaT
798                NaT
799                NaT
800                NaT
801                NaT
802                NaT
803                NaT
804                NaT
805                NaT
806                NaT
807                NaT
808                NaT
809                NaT
810                NaT
811                NaT
812                NaT
813                NaT
814                NaT
815    0 days 01:00:00
816                NaT
817                NaT
818                NaT
819                NaT
820                NaT
821                NaT
822                NaT
823                NaT
824                NaT
825    0 days 00:30:00
826                NaT
827                NaT
828                NaT
829                NaT
830                NaT
831                NaT
832                NaT
833                NaT
834                NaT
835                NaT
836                NaT
837                NaT
838                NaT
839                NaT
840                NaT
841                NaT
842                NaT
843                NaT
844                NaT
845    0 days 00:41:00
846                NaT
847                NaT
848                NaT
849                NaT
850                NaT
851                NaT
852                NaT
853                NaT
854                NaT
855                NaT
856    0 days 01:05:00
857    0 days 01:03:00
858                NaT
859                NaT
860                NaT
861                NaT
862                NaT
863                NaT
864    0 days 00:27:00
865                NaT
866                NaT
867                NaT
868                NaT

Step 12: average time to purchase

In [105]:
average_time = all_data["total_time"].mean()

In [106]:
average_time

Timedelta('0 days 00:43:12.380952380')